* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* Header */

.hamburgerBars {
    width: 40px;
    height: 6px;
    background-color:#9BD2AD;
    margin: 6px 0;
    border-radius: 10px;
}
.hamburgerContainer {
    width: 45px;
    padding: 3px;
    padding-left: 8px;
}

.hamburgerContainer:hover {
    background-color: grey;
    border-radius: 10%;
    cursor: pointer;
}


.headerBox {
    display: flex;
    background-color:#252F2A;
    text-align: center;
    left: 0;
    top: 0;
}

.leftHeaderColumn {
    padding-top: 5px;
    padding: 15px;
    flex: 1;
}

.midHeaderColumn {
    color: #9BD2AD;
    text-align: center;
    vertical-align: middle;
    width: 500px;
}

.rightHeaderColumn {
    color: #9BD2AD;
    padding: 15px;
    flex: 1;
}


/* Drawer */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#272727;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.sidebar a {  
    text-decoration: none;
    font-size: 25px;
    color:  #9BD2AD;
    display: block;
}

.sidebar a:hover {
    color: #c5c6c7; 
}

.closebtn {
    position: absolute;
    right: 10%;
    font-size: 36px;
}

.sidebar .closebtn:hover{
    color: coral;
}

.menuLink {
    margin-top: 10px;
}

/* Question window */

.answerList {
    font-size: smaller;
    list-style-type: none;
    margin-top: 2%;
    left: 0;
    margin-right: 7%
}


.flexContainer {
    display: flex;
    justify-content: center;
  }
  
 .questionContainer {
    background-color: #F3F7E7;
    width: 80%;
    max-width: 720px;
    margin-top: 1%;
    margin: 10px;
    text-align: center;
    line-height: 175%;
    font-size: 175%;
    border: solid 10px  #252F2A;
}

.questionContainer * {
    color:#252F2A;
}


.answerTable {
    color: #9BD2AD;
    margin-top: 1%;
    background-color: #252F2A;
}

.submitBtn {
    background-color: #252F2A;
    font-size: 150%;
    color: #F3F7E7;
    padding: 2.5% 10%;
    cursor: pointer; 
    border-radius: 20px;
    margin: 2.5%;
}

.submitBtn:hover {
    background-color: #2c3531;
}

.resetBtn {
    background-color:coral;
    color:#F3F7E7;
    padding: 1% 2%;
    cursor: pointer; 
    border-radius: 20px;
    margin: 2%;
}

.resetBtn:hover{
    background-color: tomato;
    cursor: pointer;
}

/* Results bar */

.resultBar {
    height: 99%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color:#9BD2AD;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
}

.resultBar .closebtn:hover{
    color: coral;
}

/* Phone optimizations */

@media screen and (max-width: 600px){
    .questionContainer{
        font-size: 80%;
    }

    .midHeaderColumn{
        font-size: x-small;
        padding-top: 10px;
    }

    .hamburgerBars {
        width: 30px;
        height: 4px;
    }

    .hamburgerContainer {
        width: 40px;
        padding: 3px;
        padding-left: 8px;
    }
}